# --- For-Bot-Working --------- #
TgCrypto 
pyromod==3.1.6

# --- For-Database ------------ #
pymongo 
dnspython 
motor  # Async driver for MongoDB

# --- For-Web-Response ------- #
aiohttp 

# --- Advance-Format --- #
pyrofork==2.3.60
